# Add any directories, files, or patterns you don't want to be tracked by version control
minclusion_content.realm.lock
minclusion_content.realm.management/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db